<table class="customers">
  <div class="top5">
    <% if current_user.admin? %>
        <tr>
          <th>Tên tour</th>
          <th>Khách hàng</th>
          <th>Điện Thoại</th>
          <th>Ngày đặt tour</th>
          <th>Giá Tiền</th>
          <th>Trạng Thái</th>
        </tr>
      <% @booktours.each do |booktour| %>
        <tr>
          <td>
            <%= booktour.tour.name %>
          </td>
          <td>
            <%= booktour.user.name%>
          </td>
          <td>
            <%= booktour.user.phone%>
          </td>
          <td>
            <%= booktour.datebook.strftime("%d/%m/%Y") %>
          </td>
          <td>
            <%= number_to_currency(booktour.totalprice) %>
          </td>
          <td>
            <%= link_to booktour.status_i18n,
              update_status_booktour_path(booktour.id),
              method: :patch,
              class:"color_status #{booktour.status}",
              data: { confirm: "Xác nhận đặt tour" }
            %>
          </td>
        </tr>
      <% end %>
    <% else %>
        <tr>
          <th>
            Tên tour
          </th>
          <th>
            Thời gian
          </th>
          <th>
            Khởi hành vào ngày
          </th>
          <th>
            Số thành viên
          </th>
          <th>
            Ngày đặt tour
          </th>
          <th>
            Tổng tiền
          </th>
          <th>
            Hủy Tour
          </th>
          <th>
            Trạng Thái
          </th>
        </tr>
      <% @booktours.each do |booktour| %>
        <tr>
          <td>
            <%= booktour.tour.name %>
          </td>
          <td>
            <%= booktour.tour.tourday %>ngày
          </td>
          <td>
            <%= booktour.tour.starday.strftime("%d/%m/%Y") %>
          </td>
          <td>
            <%= booktour.nuofgu %>
          </td>
          <td>
            <%= booktour.datebook.strftime("%d/%m/%Y") %> 
          </td>
          <td>
            <%= number_to_currency(booktour.totalprice) %> VND
          </td>
          <% if !booktour.confirmed?%>
            <td>
              <%= link_to "Hủy",booktour_path(booktour), :data => {:confirm => 'Hủy tour này?'}, method: :delete%>
            </td>
          <%else%>
            <td>
              Không thể hủy
            </td>
          <% end %>
          <% if booktour.confirmed? %>
            <td style="color: green;">
              <%= booktour.status_i18n %>
            </td>
          <% else %>
            <td style="color: red;">
              <%= booktour.status_i18n %>
            </td>
          <% end -%>
        </tr>
      <% end %>
    <% end %>
  </div>
</table>
