<table class="customers">
  <div class="top5">
    <% if current_user.admin? %>
        <tr>
          <th>Tên tour</th>
          <th>Khách hàng</th>
          <th>Điện Thoại</th>
          <th>Ngày đặt tour</th>
          <th>Giá Tiền</th>
          <th>Trạng Thái</th>
        </tr>
      <% @booktours.each do |booktour| %>
        <tr>
          <td><%= booktour.tour.name %></td>
          <td><%= booktour.user.name%></td>
          <td><%= booktour.user.phone%></td>
          <td><%= booktour.datebook.strftime("%d/%m/%Y") %></td>
          <td><%= number_to_currency(booktour.totalprice) %></td>
          <td><%= link_to booktour.status, update_status_booktour_path(booktour.id), method: :patch%></td>
        </tr>
      <% end %>
    <% else %>
        <tr>
          <th>Tên tour</th>
          <th>Điểm đến</th>
          <th>Thời gian</th>
          <th>Khởi hành vào ngày</th>
          <th>Số thành viên</th>
          <th>Ngày đặt tour</th>
          <th>Tổng tiền</th>
          <th>Hủy Tour</th>
          <th>Trạng Thái</th>
        </tr>
      <% @booktours.each do |booktour| %>
        <tr>
          <td><%= booktour.tour.name %></td>
          <td><%= booktour.tour.destination%></td>
          <td><%= booktour.tour.tourday %>ngày</td>
          <td><%= booktour.tour.starday.strftime("%d/%m/%Y") %></td>
          <td><%= booktour.nuofgu %></td>
          <td><%= booktour.datebook.strftime("%d/%m/%Y") %></td>
          <td><%= number_to_currency(booktour.totalprice) %> VND</td>
          <% if !booktour.confirmed?%>
            <td><%= link_to "Canel tour",booktour_path(booktour),method: :delete%></td>

          <%else%>
            <td>Not canel tour</td>
          <% end %>
          <td style="color: blue;"><%= booktour.status %></td>
        </tr>
      <% end %>
    <% end %>
  </div>
</table>


<!-- </head>
<body>

<h1>A Fancy Table</h1>
<table class="customers">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds snabbköp</td>
    <td>Christina Berglund</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Königlich Essen</td>
    <td>Philip Cramer</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
  <tr>
    <td>North/South</td>
    <td>Simon Crowther</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Paris spécialités</td>
    <td>Marie Bertrand</td>
    <td>France</td>
  </tr>
</table>

</body>
</html> -->