<div class="row justify-content-center">
	<div class="col-md-6 col-md-offset-3 border-crudtour">
		<%= simple_form_for @tour, :html => { :multipart => true} do |f| %>
			<%= select_tag(:category_id, options_for_select(@categories), :prompt => "select a category") %>
			<%= f.file_field :tour_img %>
			<%= f.input :name, label: "Tour name", class: 'form-control' %>
			<%= f.input :destination, class: 'form-control' %>
			<%= f.input :tourday, class: 'form-control' %>
			<%= f.input :price, class: 'form-control' %>
			<%= f.input :starday, class: 'form-control' %>
			<%= f.input :description, as: :rich_text_area, class: 'form-control' %><br>
			<%= f.button :submit, class: "btn btn-primary"%>
		<% end %><br>
	</div>
</div>
