<% @reviews.each do |review| %>
	<div class="review-item" id='reviewid-<%= review.id %>'>
		<% if current_user%>
			<% if current_user.admin?%>
				<a
					data-url="<%= tour_review_path(id: review.id, tour_id: review.tour) %>" data-review-id="<%= review.id %>"
					class="sweet-delete-comment"
				>
					<i class="fa fa-times" aria-hidden="true" style="opacity: 0.4"></i>
				</a>
			<% end -%>
		<% end -%>
		<span style="color: #2980b9;"><%= review.user.name %>: </span> 
		<%= review.comment %>
	</div>
<% end %>
