<h1>Booktour</h1>
<h2><%= @tour.name %></h2>
<h4>Loại tour: <%= @tour.category.name%></h4>
<h4>Điểm đến: <%= @tour.destination%></h4>
<h4>Thời gian: <%= @tour.tourday %> ngày</h4>
<h4>Giá tour: <%= @tour.price %>VND</h4>
<h4>Khởi hành: <%= @tour.starday %></h4>
