<%= search_form_for @search do |f| %>
  <div class="input-daterange">
    <div>
      <%= f.label :tour_date_from %>
      <%= f.text_field :tour_date_gteq, placeholder: "tour date from"%>
    </div>
    <div>
      <%= f.label :tour_date_to %>
      <%= f.text_field :tour_date_lteq,  placeholder: "tour date to" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>

<table class="table">
  <thead>
    <th>Name</th>
    <th>tour</th>
  </thead>
  <tbody>
    <% @tours.each do |product| %>
      <tr>
        <td><%= tour.name %></td>
        <td><%= tour.starday %></td>
      </tr>
    <% end %>
  </tbody>
</table>