<div class="top4">
	<h1 class="current-category"><%= params[:category] %></h1>
	<% if @tours.count == 0 %>
			<h2>Hiện tại loại này không có Tour nào</h2>
	<% else %>
		<div class="row">
			<% @tours.each do |tour| %>
				<div class="col-md-3">
					<a href="tours/tour.id"></a>
					<%= image_tag tour.tour_img.url(:tour_index), class: "tour" %>
					<h3 class="" ><%= link_to tour.name, tour_path(tour), class:"texts" %></h3>
					<h5 class="color-text"><%= link_to number_to_currency(tour.price), tour_path(tour), class:"texts"%> VND</h5>
					<% if current_user&.admin? %>
					<h4><%= link_to tour.status, update_status_tour_path(tour.id, status: 'active'), method: :patch %></h4>
					<% end %>
				</div>
			<%end%>
		</div>
	<% end %>
</div>