<%= image_tag @tour.tour_img.url(:tour_show), class: "tour-show" %>

<h2><%= @tour.name %></h2>
<h4>Loại tour: <%= @tour.category.name%></h4>
<h4>Điểm đến: <%= @tour.destination%></h4>
<h4>Thời gian: <%= @tour.tourday %> ngày</h4>
<h4>Giá tour: <%= @tour.price %>VND</h4>
<h4>Khởi hành: <%= @tour.starday %></h4>
<%= link_to "Back",tours_path, class: "btn btn-primary" %>

<%= link_to "Edit",edit_tour_path, class: "btn btn-primary" %>
<%= link_to "Delete",tour_path(@tour), method: :delete, data: {confirm: "bạn muốn xóa tour này không?"}, class: "btn btn-primary" %>
