<div class="top4">
	<div class="border-tour ">
		<%= image_tag "#{@tour.tour_img_file_name}", class: "tour-show" %>
			<div >
				<%= rating_for @tour, 'name', star_path: '/' %>
			<div class="rate_star">
				<img src="/big-star.png">
				<span class='rated_point'><%= @rate_point %></span>
			</div>

		</div>
		<div class="container-booktour">
			<div class="text-tour">
				<h2><%= @tour.name %></h2>
				<h4>Loại tour: <%= @tour.category.name%></h4>
				<h4>Điểm đến: <%= @tour.destination%></h4>
				<h4>Thời gian: <%= @tour.tourday %> ngày</h4>
				<h4>Giá tour: <%=number_to_currency(@tour.price) %>VND/1 người</h4>
				<h4>Khởi hành: <%= @tour.starday.strftime("%d/%m/%Y") %></h4>
			</div>
				<%= link_to "Trở về",tours_path, class: "btn btn-primary" %>
				<% if current_user %>
					<% if current_user.admin? %>
						<%= link_to "Sửa",edit_tour_path, class: "btn btn-primary" %>
						<%= link_to "Xóa",tour_path(@tour), data: {confirm: "xóa tour này? "}, method: :delete, class: "btn btn-primary" %>
					<% else %>
						<% if @tour.active? %>
							<%= link_to "Đặt tour", booktour_tour_path(@tour.id), class: "btn btn-primary"%>
						<% else %>
							<h4 style="color: red;">Tour Không hoạt động</h4>
						<% end %>
					<% end %>
				<% else %>
					<%= link_to "Đặt tour", booktour_tour_path(@tour.id), class: "btn btn-primary"%>
				<% end %>
		</div>
	</div>
	<div class="reviews_section_wrapper">
		<% if current_user %>
			<div class="comment_input_field">
				<textarea
					placeholder="Viết bình luận..."
					class='form-control'
					id="text_review"
				></textarea>
				<input type="submit" class="btn btn-primary " value="Bình Luận" id="submit_review" data-url="<%= tour_reviews_path(tour_id: params[:id]) %>">
			</div>
		<% else %>
			<h3 style="color: red;">Đăng nhập để bình luận </h3><br>
		<% end %>
		<div id="reviews_section">
			<%= render partial: 'tour_review' %>
		</div>
	</div>
</div>	
<div>
	<h2 align="center">
		<u>
			<b>Chi Tiết</b>
		</u>
	</h2>
	<%= @tour.description %>
</div>
