<%= image_tag @tour.tour_img.url(:tour_show), class: "tour-show" %>
<div class="container-booktour">	
	<h2><%= @tour.name %></h2>
	<h4>Loại tour: <%= @tour.category.name%></h4>
	<h4>Điểm đến: <%= @tour.destination%></h4>
	<h4>Thời gian: <%= @tour.tourday %> ngày</h4>
	<h4>Giá tour: <%=number_to_currency(@tour.price) %>VND/1 người</h4>
	<h4>Khởi hành: <%= @tour.starday.strftime("%d/%m/%Y") %></h4>
	<%= link_to "Back",tours_path, class: "btn btn-primary" %>
	<% if current_user %>
		<% if current_user.admin? %>
			<%= link_to "Edit",edit_tour_path, class: "btn btn-primary" %>
			<%= link_to "Delete",tour_path(@tour), method: :delete, class: "btn btn-primary" %>
		<% else %>
			<% if @tour.active? %>
				<%= link_to "Book tour", booktour_tour_path(@tour.id), class: "btn btn-primary"%>
			<% else %>
				<h4 style="color: red;">Tour Inactive</h4>
			<% end %>
		<% end %>
	<% else %>
		<%= link_to "Book tour", booktour_tour_path(@tour.id), class: "btn btn-primary"%>
	<% end %>
	<div id="reviews_section">
		<%= render partial: 'tour_review' %>
	</div><br>
	<% if current_user %>
		<input type="text" placeholder="Your comment..." class='form-control' id="text_review">
		<input type="submit" class="btn btn-primary" value="comment" id="submit_review"
			data-url="<%= tour_reviews_path(tour_id: params[:id]) %>">
	<% else %>
			<h3 style="color: red;"> Login to comment on this tour </h3><br>
	<% end %>
</div><br>
