<!DOCTYPE html>
<html>
  <head >
    <title>Travel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  </head>

  <body>
  <nav class="navbar headerfix navbar-expand-lg navbar-light bg-light justify-content-between">
  <%= link_to "Travel", root_path, class: "navbar-brand" %>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-link" id="navbarNavDropdown">
<!--     <div class="dropdown nav-link"  >
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
          <% Category.all.each  do |category| %>
          <li class="<%= 'active' if params[:category] == category.name %>">
            <%= link_to category.name, tours_path(category: category.name), class: "link"  %>
          </li> 
          <% end %>
      </ul>
      
    </div> -->
    <ul class="navbar-nav navbar-right  ">
      <% if current_user %>
        <% if current_user.admin? %>
          <li>
            <%= link_to "Addtour",new_tour_path, class: "nav-link" %>
          </li>
        <% end -%>
      <% end %>
      
      <% if current_user %>
        <% if current_user.admin? %>
            <li>
              <%= link_to "Litsbooking",booktours_path, class: "nav-link" %>
            </li>
        <% else %>
            <li>
              <%= link_to "Mybooking",booktours_path, class: "nav-link" %>
            </li>
        <% end %>
      <% end %> 
      <li class="nav-item">
        <%= link_to "Home", tours_path, class: "nav-link" %>
      </li>

      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Accout
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if current_user.admin? %>
                <%= link_to "user", users_index_path, class: "dropdown-item" %>
            <% else %>
            <%= link_to "profile", users_show_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "setting", '#', class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Signup", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end -%>
    </ul>
  </div>
    <div> 
      <% flash.each do |message_type, message| %>
        <div class="input-group1"><%= message %></div>
      <% end %>
    </div>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
